body,html{

	height: 100%; 
	width: 100%; 
	background-color: rgba(42,42,42, 1)  !important;
}

@media screen and (max-width: 1440px) {

/*__________________________________________________________MAIN SECTION */
/*________________________________________________________________________*/

	#londonBg {
		height: 100%; 
		width: 100%; 
		background-image: url(../images/doubledeck_small.jpg); 
		background-size:100%;
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		overflow: hidden; 
		background-attachment: fixed; 
		max-width: 1920px;

	}
		
		#overlay{

			height: 100%; 
			width: 100%; 
			background-color: rgba(0,0,0,0.66);
		}

		.navbar-inner {

	    	background:transparent;

		}	

			#nameLogo{

				height: 140px; 
				width: 140px; 
				background-image: url(../images/logoRiku.png); 
				background-size: cover; 
				background-repeat: no-repeat;
				position: relative; 
				margin-left: 25px;
			}


			.navbar-locator{

				position: relative !important; 
				top: 30px;

			}

			.menu-custom{

				float: right !important;
				letter-spacing: 3px;
				position: relative; 
				top: 15px;

			}

			.button-locator{

				position: relative; 
				top: 45px; 
				right: 20px;
			}

				.menu-custom > li{

					padding-right: 10px;

				}

				/* Change default text color (blue) to white AND change font */
				.menu-custom > li > a{

					font-family: 'Courier New';
					color: #D0D0D0  !important;
					position: relative !important; 
					top: 30px;
				}

				/*Override default background color on hover (make it any color, then set the opacity to zero*/
				.navbar-inner .navbar-nav > li > a:hover, .navbar-inner .navbar-nav > li > a:focus {
	   				background-color: transparent !important;
	    			color: white !important;
				}

					.withBorder{

						border: 2px solid white;
						overflow: hidden; 

					}

						.navbar-inner .navbar-nav > li > .withBorder:hover{

							background-color: white !important; 
							color: black !important;

						}

						.withBorder:after {
						  content: '';
						  display: block;
						  position: absolute;
						  left: 50%;
						  top: 50%;
						  width: 120px;
						  height: 120px;
						  margin-left: -60px; /*positioning "ripple"*/
						  margin-top: -60px; /*positioning "ripple"*/
						  background: cyan;
						  border-radius: 100%;
						  opacity: .6;

						  transform: scale(0);
						}

						@keyframes ripple {
						  0% {
						    transform: scale(0);
						  }
						  20% {
						    transform: scale(1);
						  }
						  100% {
						    opacity: 0;
						    transform: scale(1);
						  }
						}

						.withBorder:not(:active):after {
						  animation: ripple 1s ease-out;
						}

						/* fixes initial animation run, without user input, on page load.
						 */
						.withBorder:after {
						  visibility: hidden;
						}

						.withBorder:focus:after {
						  visibility: visible;
						} 


			/*The navbar is transparent so icon-bars are transparent. 
			Display icon-bars*/
			.navbar-toggle .icon-bar {
			    display: block;
			    width: 22px;
			    height: 2px;
			    border-radius: 1px;
			    background-color: #ffffff;
			}



		#titleBanner{

			position: relative; 
			font-family: 'Alegreya Sans SC', sans-serif;
			font-size: 4.7em;
			font-weight: 500; 
			letter-spacing: 8px;
			top: 70px;
			color: white; 
			text-align: center; 

		}

		.increase-letter-size{

			font-size: 1.4em;

		}

		.introBanner{

			color: white; 
			position: relative; 
			font-family: 'Alegreya Sans SC', sans-serif;
			top: 50px;
			text-align: center; 
			font-size: 1.2em;
			letter-spacing: 3px;

		}

		#arrowButton{

			height: 60px;
			width: 60px; 
			text-align: center; 
			margin: 0 auto;
			position: relative; 
			top: 180px;
			font-size: 3em;


		}
			#arrowButton > a {
				color: #C0C0C0  ;
			}


/*__________________________________________________________ABOUT SECTION */
/*________________________________________________________________________*/

	#indexContainer{

		height: 95%; 
		width: 100%; 
		background-color: rgba(255,255,255, 0.86);
		overflow: auto; 

	}

		#portraitBanner{

			position: relative; 
			top: 55px; 
		}

			#centerPositionContainer{

				margin: 0 auto; 
				height: 100px;
				width: 300px;

			}

				#portrait{

					height: 140px;
					width: 149px; 
					background-image: url(../images/portrait.png); 
					background-size: contain; 
					background-repeat: no-repeat;

				}	

					#mySignature{

						height: 120px; 
						width: 200px;
						position: relative; 
						background-image: url(../images/signature_min_black.png); 
						background-size: cover; 
						background-repeat: no-repeat;
						top: 10px; 
						left: 130px;

					}


		.hr_line { 
			position: relative; 
			top: 100px;
	   		margin: 25px 0;
	    	height: 1px;
	    	background: black;
	    	background: -webkit-gradient(linear, 0 0, 100% 0, from(#C8C8C8), to(#C8C8C8), color-stop(50%, black));
		}

		#cityBlocks{

			position: relative; 
			top: 110px; 

		}

/*__________________________________________________________PROJECT SECTION */
/*_________________________________________________________________________*/
	

	#projectContainer{

		height: 100%;
		width: 100%;
		text-align: center; 
		font-size: 3em; 
		color: white;
		font-family: 'Alegreya Sans SC', sans-serif;

		position: relative; 
		top: 10px; 

	}

		#projectTitle{

			height: 100px; 
			width: 200px; 

		}



/*__________________________________________________________Contact SECTION */
/*_________________________________________________________________________*/


	#contactContainer{

		height: 75%;
		width: 100%;
		background-image: url(../images/bukansan.jpg);
		background-size: cover; 
		background-repeat: no-repeat;
		max-width: 1920px; 
		overflow: hidden;

	}

		#greyOverlay{

			height: 100%; 
			width: 100%; 
			background-color: rgba(42,42,42,0.5); 

		}

			#sayHi{

				width: 200px; 
				color: white; 
				font-size: 3em; 
				font-family: 'Raleway', sans-serif;
				font-weight: 600; 
				letter-spacing: 3px; 
				position: relative; 
				top: 10px; 
				left: 20px; 

			}

			#contactPlaceholder{

				height: auto; 
				width: 290px; 
				margin: 0 auto;
			}
			

				.contactFontello{

					text-decoration: none; 
					font-weight: bold; 
					font-size: 5em;
					float: left; 

				}

					#gitContact{
						color: #ee3e64;
					}

					#mailContact{
						color: #00CC00;
					}
						
					#twitterContact{
						color: #3cf;
					}

					#googleContact{
						color: #D34836;
					}

			#twitterDiv{

				height: 350px; 
				width: 300px; 
				position: relative; 
				top: -10px; 
				right: 100px; 
				float: right; 

			}


} /*closing brace for @media screen and (max-width: 1440px)*/







/*____________________________________________________________________ +++ MOBILE CSS  +++ _____________________________*/
/*______________________________________________________________________________________________________________________*/
/*______________________________________________________________________________________________________________________*/



/*___________________________________________________MAIN SECTION MOBILE */
/*________________________________________________________________________*/

@media screen and (max-width: 568px) {

	#mainNavBar{

		height: 130px;

	}

		#navContainer > li > a {

			padding-top: 0px;
			padding-bottom: 5px; 
			top: 0px;
		}


	#nameLogo{

		height: 100px !important; 
		width: 100px !important; 

	}

	    #titleBanner {
	        font-size: 3.5em !important;
	    }

	    .introBanner{

	    	font-size: 0.8em !important;

	    }

	    #arrowButton{

	    	top: 230px !important; 

	    }

/*___________________________________________________ABOUT SECTION MOBILE */
/*________________________________________________________________________*/

 	#indexContainer{

 		height: 100%;
 	}

 		#portraitBanner{

 			top: 35px; 
 			left: -63px;
 		}

 			#portrait{

 				height: 100px; 
 				width: 100px; 

 			}

 			#mySignature{

 				left: 100px;
 				top: -20px;

 			}


 		.hr_line{

 			top: 30px;

 		}

 		#cityBlocks{

 			position: relative; 
 			top: 40px;

 		}

/*___________________________________________________PROJECT SECTION MOBILE */
/*________________________________________________________________________*/



/*___________________________________________________CONTACT SECTION MOBILE */
/*________________________________________________________________________*/

	#contactContainer{

		height: 120%; 

	}

	#contactPlaceholder{

		margin: 0 auto; 


	}

		.contactFontello{

			text-decoration: none; 
			font-weight: bold; 
			font-size: 5em;
			float: left; 

		}

	#twitterDiv{

		height: 100px !important; 
		width: 250px !important; 
		position: relative; 
		float: left; 
		left: 15px;


	}


} /*closing brace for @media screen and (max-width: 568px) */



