html, body {
	height: 100%;
	margin: 0; 

}

#initial{

	background-image: url(images/rikuKanji.png);
	background-size: cover; 
	bottom: 2%;
	height: 20px;
	position: fixed; 
	right: 1.5%;
	width: 26px;
	z-index: 50; 
	
}

#wrapper{

	width: 100%; 
	height: 100%;


}

/*--------------MENU CSS-----------------*/

	#menuContainer{

		display: none;
		position: fixed;
		height: 60px; 
		width: 100%; 
		background-color:rgba(22, 22, 31, 0.7);
		border-bottom: 3px solid grey;
		z-index: 100;
		
	}

		#nameLogo{

			margin: 0;
			background-image: url(images/nameLogo2.png);
			height: 57px; 
			width: 43px; 
			left: 1.5%;
			top: 3%;
			position: relative;
			background-size: cover; 
			float: left;

	}

		#signature{

			background-image: url(images/signature_min.png);
			background-size: cover; 
			height: 120px; 
			width: 200px; 
			margin: -13px;
			padding: 0;
			left: 3%;
			float: left; 
			position: relative;

		}

		#menuOptions{

			font-size: 11px;
			list-style: none;
			position: relative;
			float: right; 
			right: 1.5%;
			top: 24px;

		}

			.listItem{

				float: left; 
				font-family: 'Lato', sans-serif;
				letter-spacing: 2px; 
				margin: 0;
				padding: 0;
				height: 30px;
				width: 90px;
				text-align: center;

			}

				#contactButton{

					padding-right: 0;

				}

					.menuButtons{

						text-decoration: none; 
						color: #FFFFF0;

					}

					.menuButtons:hover{

						font-size: 13px;
						font-weight: bold;
					}

/*--------------First Section-----------------*/

	#mainSection{

		background-image: url(images/sunset.png);
		background-repeat: no-repeat;
		background-position: center; 
		background-size: cover; 
		height: 100%;
		width: 100%; 
		position: relative;
		z-index: -1;

	}

		#mainDisplayContainer{

			height: 100%;
			width: 600px;
			margin: 0 auto;
			text-align: center;

		}

			#welcomeSign{

				position: relative; 
				height: 100px;
				width: 100%;
				top: 65px;
				padding: 0; 
				margin: 0 auto;
				letter-spacing:20px;  
				font-family: 'Raleway', sans-serif;
				font-size: 3em;
				color: 	#f5f5f5 ;

			}

			#greetContent{

				position: relative; 
				height: 100px;
				top: 90px;
				width: 395px;
				padding: 0; 
				letter-spacing:15px;  
				font-family: 'Raleway', sans-serif;
				font-size: 3em;
				color: 	#f5f5f5;
				display: none;
				margin: 0 auto;
				text-align: center;
			}

				#myName{

					text-align: center;

				}

			#introContent{

				width: 350px;
				top: 180px;
				margin: 0 auto;
				position: relative; 
				letter-spacing: 4px;
				color: navy;
				font-family: 'Lato', sans-serif;

			}

				.descriptionContent{

					text-align: center;

				}


/*------------------> fontello CSS */ 

	#fontelloWrap{

		height: 100px;
		width: 100%;
		position: relative; 
		top: 510px;
		float: left;
		margin: 0;

	}

		#fontelloPlacement{

			height: 100%;
			width: 375px;
			position: relative; 
			margin: 0 auto;
		}


			.fontelloButton{

				text-decoration: none;
				color: #f5f5f5;
				font-size: 5.9em;
				float: left; 
				position: relative; 
				cursor: pointer;
				border-radius: 8px;


			}

				#linkdinProfile{

					
					text-decoration: none;
					float: left;

				}

				#resumeFontello{

					color: #f5f5f5;
					float: right;
					

				}

					.fontelloAnchor:link{

						color: #f5f5f5;

					}

					.fontelloAnchor:visited{

						border-radius: 8px;
						color: #f5f5f5;
						text-decoration: none;

					}

					.fontelloAnchor:hover{

						border-radius: 8px;
						background-color: #0077B5;

					}
					

					.fontelloAnchor.resume:hover{

						border-radius: 8px;
						background-color: rgb(76, 175, 80);

					}

					.fontelloAnchor:active{

						border-radius: 8px;
						color: black; 
						background-color: white;
					}

					.fontelloAnchor.resume:active{

						border-radius: 8px;
						color: black; 
						background-color: white;

					}
		
/*--------------Second Section-----------------*/

	#londonBg{

		background-image: url(images/doubledeck.png);
		background-position: center; 
		height: 365px; 
		width: 100%; 
		background-size: cover; 
		background-attachment: fixed; 

	}

		#shadowEffect{

			background-color:rgba(22, 22, 31, 0.75);
			height: 100%;
			width: 100%;

		}

			#frame{

				height: 361px;
				width: 400px;  
				border: 1px solid white;
				border-radius: 15px;
				border-right: none; 
				border-left: none;
				margin:0 auto;
				position: relative; 
			}

				#portrait{

					background-image: url(images/portrait.png);
					background-size: cover; 
					height: 135px;
					width: 135px; 
					margin: 0 auto; 
					position: relative; 
					top: 50px;

				}

				#aboutMe{

					font-family: 'Raleway', sans-serif;
					font-size: 1.6em;
					color: white; 
					width: auto;
					text-align: center; 
					margin: 0 auto;
					position: relative; 
					top: -120px;
					letter-spacing:5px; 

				}

					.transitionArrow{

						color: #838B8B;

					}


/*--------------Third Section-----------------*/

	#projects{

		background-image: url(images/bukansan.jpg);
		height: 220%; 
		width: 100%; 
		background-size: cover; 
		background-attachment: fixed; 

	}

		.overlay{

			height: 90%;
			width: 100%;
			background-color:rgba(22, 22, 31, 0.8);

		}

			#projectTitle{

				letter-spacing:20px;  
				font-family: 'Raleway', sans-serif;
				font-size: 3em;
				color: 	#f5f5f5;
				position: relative;
				left: 1%;
				top: 80px;
				width: 430px;

			} 

			.infoContainer{

				height: 115px;
				width: 75%;
				position: relative; 
				top: 100px;
				margin: 0 auto;
				margin-bottom: 50px;


				background-image: url(./images/mtHood.jpg);
				background-size: cover; 
				background-attachment: fixed;

			}

			#aboutMeTitle{

				letter-spacing:20px;  
				font-family: 'Raleway', sans-serif;
				font-size: 3em;
				color: 	#f5f5f5;
				position: relative;
				left: 1%;
				top: 50px;
				width: 430px;
			}


				#whiteboardContainer{

					background-image: url(images/bukansan.jpg);
					background-size: cover;
					height: 500px; 
					width: 100%;
					margin-top: -50px;

				}
					.overlay.min{
						height: 100%;
					}

						#whiteboard{

							height: 100%;
							width: 100%;  
							background-color: #E9E9EA;
							opacity: 0.6;

						}


				#projectBox1{

					position: relative;

				}

				#projectBox2{
					
					position: relative;
					

				}

				#projectBox3{
					
					position: relative;

				}

				#lastTwoContainer{

					height: 350px;
					width: 75%;
					margin: 0 auto; 

				}
					#projectBox4{
						
						position: relative;
						height: 300px; 
						width: 480px;
						float: left;

					}

					#projectBox5{

						height: 300px; 
						width: 480px;
						float:right;

					}


		#contactContainer{

			height: 10%;
			width: 100%;
			position: relative;

		}

			#contactPlaceholder{

				width: 590px;
				height: 90px;
				margin: 0 auto;
				position: relative; 
				top: 15%;

			}

				.contactFontello{

					padding-right: 100px;
					text-decoration: none; 
					font-weight: bold; 
					font-size: 5em;
					float: left; 
					text-align: center; 

				}

					#gitContact{

						padding-right: 0;
						color: #ee3e64;

					}
						#gitContact:hover{
							color: ;
						}

					#mailContact{

						color: #FF6600;

					}
						#mailContact:hover{
							
						}

					#twitterContact{

						padding-left: 40px;
						color: #3cf;

					}
						#twitterContact{

						}

					
