
.icon-github-circled:before { content: '\e800'; } /* '' */
.icon-skype:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-newspaper:before { content: '\e805'; } /* '' */
.icon-linkedin-1:before { content: '\e806'; } /* '' */